CATALOG_DB_URL=jdbc:postgresql://localhost:5432/catalog_db
CATALOG_DB_NAME=catalog_db
CATALOG_DB_USERNAME=postgres
CATALOG_DB_PASSWORD=postgres

ORDER_DB_URL=jdbc:postgresql://localhost:5433/order_db
ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=postgres
ORDER_DB_PASSWORD=postgres

DB_POOL_MAX_SIZE=30
DB_POOL_MIN_IDLE=10
DB_CONNECTION_TIMEOUT_MS=3000
DB_VALIDATION_TIMEOUT_MS=1000

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=notification-group
KAFKA_PRODUCER_RETRIES=10

CATALOG_SERVICE_URL=http://localhost:8081
